.review{
    background-image: url("https://images.pexels.com/photos/1192043/pexels-photo-1192043.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 10;
}
.title-2:hover{
color: rgb(226, 60, 85);
cursor: pointer;
}