.title:hover {
    color: rgb(28, 189, 79);
    cursor: pointer;
}

.bg-product {
    background-color: rgb(228, 231, 227);
}

.product-title::before {
    content: "-";
}
.title2{
    font-size: small;
}
.title2:hover{
    color: rgba(78, 205, 125, 0.858);
    cursor: pointer;
}

/* product section */
.title-1 h6:hover{
  color: rgb(63, 211, 103);
  cursor: pointer;
}
