.title:hover span{
    color: rgb(43, 226, 64);
    font-weight: 500;
    cursor: pointer;
}
.title:hover{
    color: rgb(250, 50, 15);
}
.title-1 h6:hover{
    color: rgb(43,226,64);
    cursor: pointer;
}
.bg-product{
    background-color: rgb(228, 231, 227);
}
.product-title::before{
    content: "-";
}
