
/* .slider img:hover{
    -ms-transform: scale(0.5); 
    -webkit-transform: scale(1.5);
    transform: scale(1.3);
    transition: all .8s;
} */
.slider{
    overflow: hidden;
}
.banner-2{
    background-image: url("../../../image/banner/banner-1.webp");
     background-size: cover;
     background-repeat: no-repeat;
     height: auto;
     height: 400px;
}
.banner-1{
    background-image: url("../../../image/banner/banner-2.webp");
     background-size: cover;
     background-repeat: no-repeat;
     height: auto;
     height: 400px;

}
.banner-3{
    background-image: url("../../../image/banner/banner-3.webp");
     background-size: cover;
     background-repeat: no-repeat;
     height: 400px;

}
